{% extends "students/base.html" %}
{% load static %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Список Груп{% endblock title %}

{% block button %}
<div class="ml-3">
  <a class="btn btn-primary" href="{% url 'students:groups_add' %}" role="button">Додати Групу</a>
</div>
{% endblock button %}

{% block content %}
<!-- Start Groups List -->
<table class="table table-hover table-striped">
  {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
  <thead>
  <tr>
    <th>
      <a href="?order_by=id{% if order_by == 'id' and reverse != '1' %}&reverse=1{% endif %}">
        №
        {% if order_by == 'id' and reverse != '1' %}&uarr;
        {% elif order_by == 'id' and reverse == '1' %}&darr;
        {% endif %}
      </a>
    </th>
    <th>
      <a href="?order_by=title{% if order_by == 'title' and reverse != '1' %}&reverse=1{% endif %}">
        Назва
        {% if order_by == 'title' and reverse != '1' %}&uarr;
        {% elif order_by == 'title' and reverse == '1' %}&darr;
        {% endif %}
      </a>
    </th>
    <th>
      <a href="?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&reverse=1{% endif %}">
        Староста
        {% if order_by == 'leader' and reverse != '1' %}&uarr;
        {% elif order_by == 'leader' and reverse == '1' %}&darr;
        {% endif %}
      </a>
    </th>
    <th>Дії</th>
  </tr>
  </thead>
  {% endwith %}

  <tbody>
  {% for group in groups %}
  <tr>
    <td>{{ group.id }}</td>
    <td><a href="{% url 'students:groups_edit' group.id %}">{{ group.title }}</a></td>
    <td><a href="{% url 'students:students_edit' group.leader.id %}">{{ group.leader }}</a></td>
    <td>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Дія
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'students:groups_edit' group.id %}">Редагувати</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'students:groups_delete' group.id %}">Видалити</a>
        </div>
      </div>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<!-- End Groups List -->

{% if groups.has_other_pages %}
{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" aria-label="Previous"
         href="?page=1&order_by={{ order_by }}&reverse={{ reverse }}">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for p in groups.paginator.page_range %}
    <li class="page-item {% if groups.number == p %}active{% endif %}">
      <a class="page-link"
         href="?page={{ p }}&order_by={{ order_by}}&reverse={{ reverse }}">{{ p }}</a>
    </li>
    {% endfor %}
    <li class="page-item">
      <a class="page-link" aria-label="Next"
         href="?page={{ groups.paginator.num_pages }}&order_by={{ order_by}}&reverse={{ reverse }}">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endwith %}
{% endif %}

{% endblock content %}