{% extends "students/base.html" %}
{% load static %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Список Груп{% endblock title %}

{% block button %}
<div class="ml-3">
  <a class="btn btn-primary" href="{% url 'students:groups_add' %}" role="button">Додати Групу</a>
</div>
{% endblock button %}

{% block content %}
<!-- Start Groups List -->
<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th><a href="#">№</a></th>
    <th><a href="#">Назва &uarr;</a></th>
    <th><a href="#">Староста</a></th>
    <th>Дії</th>
  </tr>
  </thead>
  <tbody>
  {% for group in groups %}
  <tr>
    <td>{{ group.id }}</td>
    <td><a href="{% url 'students:groups_edit' group.id %}">{{ group.title }}</a></td>
    <td><a href="{% url 'students:students_edit' group.leader.id %}">{{ group.leader }}</a></td>
    <td>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Дія
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'students:groups_edit' group.id %}">Редагувати</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'students:groups_delete' group.id %}">Видалити</a>
        </div>
      </div>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<!-- End Groups List -->

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock content %}