{% extends "students/base.html" %}
{% load static %}

{% block meta_title %}Відвідування{% endblock meta_title %}

{% block title %}Облік Відвідування{% endblock title %}

{% block content %}
<div class="justify-content-center d-flex">
  <a href="#">&larr;</a>
  <h6>April 2021</h6>
  <a href="#">&rarr;</a>
</div>
<!-- Start Journal List -->
<table class="table table-hover table-striped table-sm">
  <thead>
  <tr>
    <th>№</th>
    <th>Студент</th>
    <th>ЧТ 01</th>
    <th>ПТ 02</th>
    <th>СБ 03</th>
    <th>НД 04</th>
    <th>ПН 05</th>
    <th>ВТ 06</th>
    <th>СР 07</th>
    <th>ЧТ 08</th>
    <th>ПТ 09</th>
    <th>СБ 10</th>
    <th>НД 11</th>
    <th>ПН 12</th>
    <th>ВТ 13</th>
    <th>СР 14</th>
    <th>ЧТ 15</th>
    <th>ПТ 16</th>
    <th>СБ 17</th>
    <th>НД 18</th>
    <th>ПН 19</th>
    <th>ВТ 20</th>
    <th>СР 21</th>
    <th>ЧТ 22</th>
    <th>ПТ 23</th>
    <th>СБ 24</th>
    <th>НД 25</th>
    <th>ПН 26</th>
    <th>ВТ 27</th>
    <th>СР 28</th>
    <th>ЧТ 29</th>
    <th>ПТ 30</th>
    <th>СБ 31</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td><a href="#">Мейсон Пайнс</a></td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck13">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck14">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck15">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck16">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck17">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck18">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck19">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck20">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck21">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck22">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck23">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck24">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck25">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck26">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck27">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck28">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck29">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck30">
      </div>
    </td>
    <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck31">
      </div>
    </td>
  </tr>
  </tbody>
</table>
<!-- End Journal List -->

{% endblock content %}