{% extends "students/base.html" %}
{% load static %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}База Студентів{% endblock title %}

{% block button %}
<div class="ml-3">
  <a class="btn btn-primary" href="{% url 'students:students_add' %}" role="button">Додати Студента</a>
</div>
{% endblock button %}

{% block content %}
<!-- Start Student List -->
<table class="table table-hover table-striped">
  {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
  <thead>
  <tr>
    <th><a href="#">№</a></th>
    <th>Фото</th>
    <th>
      <a href="{% url 'students:home' %}?order_by=last_name{% if order_by == 'last_name' and reverse != '1' %}&reverse=1{% endif %}">
        Прізвище
        {% if order_by == 'last_name' and reverse != '1' %}&uarr;
        {% elif order_by == 'last_name' and reverse == '1'%}&darr;
        {% endif %}
      </a>
    </th>
    <th>
      <a href="{% url 'students:home' %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&reverse=1{% endif %}">
        Ім’я
        {% if order_by == 'first_name' and reverse != '1' %}&uarr;
        {% elif order_by == 'first_name' and reverse == '1'%}&darr;
        {% endif %}
      </a>
    </th>
    <th>
      <a href="{% url 'students:home' %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&reverse=1{% endif %}">
        № Білету
        {% if order_by == 'ticket' and reverse != '1' %}&uarr;
        {% elif order_by == 'ticket' and reverse == '1'%}&darr;
        {% endif %}
      </a>
    </th>
    <th>Дія</th>
  </tr>
  </thead>
  {% endwith %}

  <tbody>
  {% for student in students %}
  <tr>
    <td>{{ forloop.counter}}</td>
    <td>
      <img class="rounded-circle" height="35" width="35"
           src="{% if student.photo %}{{ student.photo.url }}{% else %}{% static 'img/no_user_img.png' %}{% endif %}"/>
    </td>
    <td><a href="{% url 'students:students_edit' student.id %}">{{ student.last_name }}</a></td>
    <td><a href="{% url 'students:students_edit' student.id %}">{{ student.first_name }}</a></td>
    <td>{{ student.ticket }}</td>
    <td>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Дія
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'students:students_edit' student.id %}">Редагувати</a>
          <a class="dropdown-item" href="{% url 'students:journal' %}">Відвідування</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'students:students_delete' student.id %}">Видалити</a>
        </div>
      </div>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<!-- End Student List -->

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock content %}